<% content_for :head do %>
	<%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
	<%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" %>
	<%= javascript_include_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" %>
<% end %>
<%= render 'admin/shared/navbar' %>
<div class="container">
<br /><br /><br />	
	<div class="list-group">
		<% Product.all.each do |product| %>
	 	<a class="list-group-item" href="/admin/products/<%= product.id %>">
	 		<div class="image">
		 		<img src="/images/<%= product.id.to_s %>.jpg">
	 		</div>
	 		<div class="info">
		 		<h4 class="list-group-item-heading">
			 		<h4><%= product.name %></h4>
			 		<span><%= product.desc %></span>
			 	</h4>
		 	</div>
	 	</a>		 
		<% end %>
	</div>
    <div class="panel panel-default">
      <div class="panel-heading"><h4>添加产品</h4></div>
      <div class="panel-body">
		<%= form_for :product, url:admin_products_path do |f| %>
		  <p>
		    <%= f.label "名称" %><br>
		    <%= f.text_field :name %>	
		  </p>
		  <p>
  		    <%= f.label "描述" %><br>
		    <%= f.text_area :desc %>
		  </p>
		  <p>
  		    <%= f.label "价格" %><br>
		    <%= f.text_field :price %>
		  </p>		  
		  <p>
  		    <%= f.label "图片" %><br>
		    <%= f.file_field :image %>
		  </p>		  
		  <p>
		    <%= f.submit "提交" %>
		  </p>
		<% end %>
	  </div>
	</div>
</div>